extends layout_index

block header
    .header_container
        header.header
            .cancel_button
            img.header_title(src="./images/kinstagram_logo.png")
            .submit_button シェアする

block body
    .progress_bar
    .show_area
        .bg_container.background_mode
        .welcome_board
            h1(style='text-align: left') ご参加いただきありがとうございます！今日はアメリカから来てくれた人もいれば、学生以来10年ぶりに会う人もいます。集まった皆さんで楽しみつつ、ディズニー目指してどんどん写真をアップしてください！
            h1(style='text-align: right') 佐藤 鉄平・未帆
            span.close_button
        .success
    .detail_area
        img.detail_photo
        .detail_comment
    .edit_area
        img.thumnail
    input.commentform(type=text, rows="1", placeholder="新郎新婦へのコメントがあればどうぞ!")

    .control_area
        form(method="post", enctype="multipart/form-data", action="/upload", target="resultframe")
            input.fileinput(type="file", accept="image/jpeg,image/png", name="image")
            input.reset(type="reset")
            input.submit(type="submit")
        iframe(name="resultframe")

block footer
    .footer_container
        footer.footer
            .balloon ここから写真を投稿
            .shutter_button