extends layout_index

block header
    .header_container
        header.header
            .cancel_button
            img.header_title(src="./images/kinstagram_logo.png")
            .submit_button シェアする

block body
    .progress_bar
    .edit_area
        img.thumnail
    input.commentform(type=text, rows="1", placeholder="新郎新婦へのコメントがあればどうぞ!")

    .control_area
        form(method="post", enctype="multipart/form-data", action="/upload", target="resultframe")
            input.fileinput(type="file", accept="image/jpeg,image/png", name="image")
            input.reset(type="reset")
            input.submit(type="submit")
        iframe(name="resultframe")

block footer
    .footer_container
        footer.footer
            .shutter_button